## Step 1 :: Read csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("Black_friday_train.csv")

## Step 2 :: High level analysis

In [2]:
df.head()
# df.info()
# df.describe()
#df.describe(include='object')

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Step 3 :: Null Check

In [3]:
null_percent = (df.isnull().sum() / (df.shape[0])*100).sort_values(ascending = False)
print(null_percent)

Product_Category_3            69.672659
Product_Category_2            31.566643
Purchase                       0.000000
Product_Category_1             0.000000
Marital_Status                 0.000000
Stay_In_Current_City_Years     0.000000
City_Category                  0.000000
Occupation                     0.000000
Age                            0.000000
Gender                         0.000000
Product_ID                     0.000000
User_ID                        0.000000
dtype: float64

## Step 4 :: Null correction

In [4]:
# mv = df['Product_Category_3'].mean()
# mv
df.fillna(0, inplace = True)

## Step 5 :: Label encoding and One hot encoding

In [5]:
from sklearn.preprocessing import LabelEncoder
la = LabelEncoder()
df['Product_ID'] = la.fit_transform(df['Product_ID'])
# df.describe(include='object')

df['Gender'] = np.where(df['Gender'] == 'M' ,1,0)
# df['Gender'] = df['Gender'].replace(["M","F"], [1,0])

df = pd.get_dummies(df)
df

,User_ID,Product_ID,Gender,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_0-17,...,Age_51-55,Age_55+,City_Category_A,City_Category_B,City_Category_C,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
0,1000001,672,0,10,0,3,0.0,0.0,8370,1,...,0,0,1,0,0,0,0,1,0,0
1,1000001,2376,0,10,0,1,6.0,14.0,15200,1,...,0,0,1,0,0,0,0,1,0,0
2,1000001,852,0,10,0,12,0.0,0.0,1422,1,...,0,0,1,0,0,0,0,1,0,0
3,1000001,828,0,10,0,12,14.0,0.0,1057,1,...,0,0,1,0,0,0,0,1,0,0
4,1000002,2734,1,16,0,8,0.0,0.0,7969,0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,3567,1,13,1,20,0.0,0.0,368,0,...,1,0,0,1,0,0,1,0,0,0
550064,1006035,3568,0,1,0,20,0.0,0.0,371,0,...,0,0,0,0,1,0,0,0,1,0
550065,1006036,3568,0,15,1,20,0.0,0.0,137,0,...,0,0,0,1,0,0,0,0,0,1
550066,1006038,3568,0,1,0,20,0.0,0.0,365,0,...,0,1,0,0,1,0,0,1,0,0
550067,1006039,3566,0,0,1,20,0.0,0.0,490,0,...,0,0,0,1,0,0,0,0,0,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 24 columns):
User_ID                          550068 non-null int64
Product_ID                       550068 non-null int32
Gender                           550068 non-null int32
Occupation                       550068 non-null int64
Marital_Status                   550068 non-null int64
Product_Category_1               550068 non-null int64
Product_Category_2               550068 non-null float64
Product_Category_3               550068 non-null float64
Purchase                         550068 non-null int64
Age_0-17                         550068 non-null uint8
Age_18-25                        550068 non-null uint8
Age_26-35                        550068 non-null uint8
Age_36-45                        550068 non-null uint8
Age_46-50                        550068 non-null uint8
Age_51-55                        550068 non-null uint8
Age_55+                          550068 non-null uint8
City_Category_A                  550068 non-null uint8
City_Category_B                  550068 non-null uint8
City_Category_C                  550068 non-null uint8
Stay_In_Current_City_Years_0     550068 non-null uint8
Stay_In_Current_City_Years_1     550068 non-null uint8
Stay_In_Current_City_Years_2     550068 non-null uint8
Stay_In_Current_City_Years_3     550068 non-null uint8
Stay_In_Current_City_Years_4+    550068 non-null uint8
dtypes: float64(2), int32(2), int64(5), uint8(15)
memory usage: 41.4 MB

## Step 6 :: Feat Engg by corr heatmap, plot, describe, random select etc

In [7]:
import seaborn as sns

corr = df.corr()
corr = np.abs(corr)
# plt.figure(figsize=(20,16))
# sns.heatmap(corr, annot=True)
# plt.show()

corr['Purchase'].sort_values()
# df.drop(['Marital_Status'], axis='columns')

Marital_Status                   0.000463
Stay_In_Current_City_Years_4+    0.000988
Age_26-35                        0.001830
Stay_In_Current_City_Years_1     0.002030
Stay_In_Current_City_Years_3     0.002090
Age_55+                          0.002904
Age_46-50                        0.003317
User_ID                          0.004716
Stay_In_Current_City_Years_2     0.005358
Stay_In_Current_City_Years_0     0.006605
Age_36-45                        0.006707
Age_18-25                        0.008831
Age_0-17                         0.011055
Age_51-55                        0.014792
City_Category_B                  0.019098
Occupation                       0.020833
City_Category_A                  0.042465
Product_Category_2               0.052288
Gender                           0.060346
City_Category_C                  0.061012
Product_ID                       0.109345
Product_Category_3               0.288501
Product_Category_1               0.343703
Purchase                         1.000000
Name: Purchase, dtype: float64

## Step 7 :: Separating the dependent and independent variables

In [8]:
x = df.drop(['Purchase'], axis='columns')
y = df['Purchase']

## Step 8 :: Train and Test split

In [9]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 100)

In [10]:
x_train.shape, x_test.shape

((440054, 23), (110014, 23))

# Step 9 :: Scaling

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
x_train = scaler.transform(x_train)
x_test  = scaler.transform(x_test)

## Step 10 :: Baseline Model

In [12]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

model.fit(x_train,y_train)
model.score(x_test,y_test)

C:\Users\LENOVO\AppData\Roaming\Python\Python36\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.6769098330451764

In [14]:
y_pred = model.predict(x_test)

## Step 11 :: Hyperparameter tunning

In [17]:
from sklearn.model_selection import RandomizedSearchCV
model = RandomForestRegressor(n_jobs=-1)

n_estimators = [int(x) for x in np.linspace(start = 1, stop = 200, num=4)]
max_depth    = [int(x) for x in np.linspace(start = 1, stop = 50, num=11)]
max_depth.append(None)
max_features = ['auto','sqrt']
min_samples_leaf =[1,2,4]
max_leaf_nodes =[2,3,5,10]
bootstrap=[True,False]

random_grid = { 'n_estimators': n_estimators,
                'max_depth'   : max_depth,
                'max_features': max_features,
                'min_samples_leaf': min_samples_leaf,
                'max_leaf_nodes' : max_leaf_nodes,
                'bootstrap'   : bootstrap
    
}

rf_random = RandomizedSearchCV(estimator = model, param_distributions = random_grid, cv = 3)
rf_random.fit(x_train,y_train)

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators='warn',
                                                   n_jobs=-1, oob_score=False,
                                                   random_state...
                                                   warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [1, 5, 10, 15, 20, 25, 30,
                                                      35, 40, 45, 50, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'max_leaf_nodes': [2, 3, 5, 10],
                                        'min_samples_leaf': [1, 2, 4],
                                        'n_estimators': [1, 67, 133, 200]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [18]:
rf_random.best_params_

{'n_estimators': 67,
 'min_samples_leaf': 2,
 'max_leaf_nodes': 10,
 'max_features': 'auto',
 'max_depth': 10,
 'bootstrap': True}

In [19]:
model = rf_random.best_estimator_
model.fit(x_train,y_train)
print(model.score(x_test,y_test))
y_pred = model.predict(x_test)
print(y_test[:10])
print(y_pred[:10])

0.6178159264707228
343184     3051
544675    13692
433588     8592
123193     2761
161124    15918
183073    19116
38887      1083
206467     9760
1400       6983
169044     5395
Name: Purchase, dtype: int64
[ 3652.98307586 10093.12434923  6241.77480274  2335.84872349
 13272.46189756 13272.46189756  3652.98307586  7498.97479645
  6241.77480274  6241.77480274]